.jumbotron {
  border-radius: 0px !important;
  height: 100vh;
}


.vertical-center {
  padding-top:25vh;
  text-align: center;
}

/* .jumbotron {
  background: url("https://media1.giphy.com/media/pjnfNhaFmkhxu/giphy-tumblr.gif?cid=e1bb72ff5a7367df59657065411be9c0") no-repeat center fixed;
  background-size: cover;
} */
